".source.logtalk":
  Category:
    prefix: "category"
    body: '''
      
      :- category(${1:Category}).
      
      	:- info([
      		version is 1.0,
      		author is '$TM_FULLNAME',
      		date is `date +%Y/%m/%d`,
      		comment is '${2:Description}']).
      
      $0
      
      :- end_category.
      
    '''
  Class:
    prefix: "class"
    body: '''
      
      :- object(${1:Class},
      	specializes(${2:Superclass})).
      
      	:- info([
      		version is 1.0,
      		author is '$TM_FULLNAME',
      		date is `date +%Y/%m/%d`,
      		comment is '${3:Description}']).
      
      $0
      
      :- end_object.
      
    '''
  Instance:
    prefix: "instance"
    body: '''
      
      :- object(${1:Instance},
      	instantiates(${2:Class})).
      
      	:- info([
      		version is 1.0,
      		author is '$TM_FULLNAME',
      		date is `date +%Y/%m/%d`,
      		comment is '${3:Description}']).
      
      $0
      
      :- end_object.
      
    '''
  "    (with no arguments)":
    prefix: "public0"
    body: '''
      	:- public(${1:Functor}/0).
      	:- mode(${1:Functor}, ${2:Solutions}).
      	:- info(${1:Functor}/0, [
      		comment is '${3:Description}']).
      
      $0
    '''
  "Private predicate":
    prefix: "private"
    body: '''
      	:- private(${1:Functor}/${2:Arity}).
      	:- mode(${1:Functor}(${3:Arguments}), ${4:Solutions}).
      	:- info(${1:Functor}/${2:Arity}, [
      		comment is '${5:Description}',
      		arguments is ['$6'-'$7']]).
      
      $0
    '''
  "Protected predicate":
    prefix: "protected"
    body: '''
      	:- protected(${1:Functor}/${2:Arity}).
      	:- mode(${1:Functor}(${3:Arguments}), ${4:Solutions}).
      	:- info(${1:Functor}/${2:Arity}, [
      		comment is '${5:Description}',
      		arguments is ['$6'-'$7']]).
      
      $0
    '''
  Protocol:
    prefix: "protocol"
    body: '''
      
      :- protocol(${1:Protocol}).
      
      	:- info([
      		version is 1.0,
      		author is '$TM_FULLNAME',
      		date is `date +%Y/%m/%d`,
      		comment is '${2:Description}']).
      
      $0
      
      :- end_protocol.
      
    '''
  Prototype:
    prefix: "object"
    body: '''
      
      :- object(${1:Object}).
      
      	:- info([
      		version is 1.0,
      		author is '$TM_FULLNAME',
      		date is `date +%Y/%m/%d`,
      		comment is '${2:Description}']).
      
      $0
      
      :- end_object.
      
    '''
  "Public predicate":
    prefix: "public"
    body: '''
      	:- public(${1:Functor}/${2:Arity}).
      	:- mode(${1:Functor}(${3:Arguments}), ${4:Solutions}).
      	:- info(${1:Functor}/${2:Arity}, [
      		comment is '${5:Description}',
      		arguments is ['$6'-'$7']]).
      
      $0
    '''
